/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

#contact{
  border-radius: 30px !important;
}

.icon-block {
  padding: 50px 15px;
  border-radius:40px; 
  height:400px;
}

.icon-block img{
  width: 350px;
  border-radius: 20px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.slider .btn{
  margin-top: 20px;
  padding:0 50px;
  border-radius: 30px;
}

.img1,
.img3,
.img5{
  width: 450px;
  border-radius: 50px;
  margin-left: 300px;
}

.title1,
.title3,
.title5{
  color: rgb(23, 23, 23);
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  padding: 20px 300px 0px 0px;
  text-align: justify;
}

.txt1,
.txt3,
.txt5{
  color: rgb(114, 114, 114);
  font-size: 19px;
  line-height: 40px;
  padding: 0px 300px 70px 0px;
  text-align: justify;
}

.img2,
.img4{
  width: 450px;
  border-radius: 50px;
  margin-right: 300px;
}

.title2,
.title4{
  color: rgb(19, 19, 19);
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  padding: 20px 70px 0px 300px !important;
  text-align: justify;
}

.txt2,
.txt4{
  color: rgb(114, 114, 114);
  font-size: 19px;
  line-height: 40px;
  padding: 0px 70px 70px 300px;
  text-align: justify;
}

#card{
  border-radius: 30px;
}

#card-img{
  height: 350px !important;
}

.page-footer{
  background-image: url("/img/background-footer.png");
}

.footer-text{
  font-size: 15px;
}

.social-container{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-container a{
  color:rgb(150, 150, 150) !important;
  font-size: 35px;
  margin:0px 20px;
}

.social-container a:hover{
  color: rgb(220, 220, 220) !important;
}